<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <style type="text/css">
        .chessBoard{position: absolute;}
        .rightPanel{height: 460px; width: 200px; position: absolute; top: 50px; right: 25px; font-size: 14px;}
        .row{text-align: right; margin-bottom: 10px;}
        .row h4,.chat p{margin: 0;}
        .recode select{width: 160px;}
        .chat .textarea{width: 160px; height: 160px; display: inline-block; text-align: left; line-height: 15px; resize: none; font-size: 12px; overflow: auto; background: #FFFFFF; border: 1px solid #999999}
        .input input{height: 14px; line-height: 14px; width: 100px;}
    </style>
</head>
<body>
<div id="chessBoard" class="chessBoard">
    <div id="panel" class="rightPanel">
        <div class="row gameType">
            <h4><label for="gameType">请选择游戏类型</label></h4>
            <select name="gameType" id="gameType">
                <option value="0" selected>自由对战</option>
                <option value="1">联机对战</option>
                <option value="2">残局演练</option>
            </select>
        </div>
        <div class="row type">
            <h4>请选择方阵</h4>
            <input type="radio" name="type" id="viewer" value="viewer" checked/><label for="viewer">观看者</label>
            <input type="radio" name="type" id="red" value="red"/><label for="red">红方</label>
            <input type="radio" name="type" id="black" value="black"/><label for="black">黑方</label>
        </div>
        <div class="row recode">
            <h4><label for="recode">棋谱记录</label></h4>
            <select name="recode" id="recode" multiple size="8"></select>
        </div>
        <div class="row chat">
            <h4><label for="chatBox">消息框</label></h4>
            <div class="textarea" id="chatBox">
            </div>
        </div>
        <div class="row input">
            <label for="input">发送消息：</label><input type="text" name="input" id="input" title="按回车发送"/>
        </div>
    </div>
</div>
<script type="text/javascript" src="./javascripts/raphael-min.js"></script>
<script type="text/javascript" src="./javascripts/sea.js" data-main="chinesechess"></script>
</body>
</html>